@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.first{
    background: url(images/top-banner.png) no-repeat;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-text{
    width: 50%;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.b-text h1{
    line-height: 1.5em;
    font-weight: 500;
    font-size: 50px;

}
.b-text h1 span{
    color: orange;
}
.b-text h3{
    margin-bottom: 20px;
    font-weight: 500;
}
.b-img{
    width: 50%;
    margin-left: 100px;
}
.b-img img{
    max-width: 80%;
}
.dream-big{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big .d-img img{
    max-width: 80%;
}
.card{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(images/exp-bg.png) no-repeat;
    background-position: left;
}
.outofbox{
    font-size: 50px;
    font-weight: 500;
}
.card h1{
    font-size: 30px;
    font-weight: 500;
}
.card .firstcard{
    width: 500px;
    height: 350px;
    box-shadow: 5px 7px 40px grey;
    padding: 40px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;

}
.card .firstcard.baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.card .firstcard h1{
    margin-bottom: 10px;
}
.card .firstcard h3{
    color: orange;
    padding: 10px 0;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.footer p{
    font-size: 20px;
}